* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.message-container {
    display: flex;
    padding: 1rem 2rem;
}

.message-container p {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
    color: #121213;
}


.warning p {
    background-color: rgb(255, 255, 0);
}

.wrong p {
    background-color: rgb(255, 0, 0);
}

.right p {
    background-color: #21df51;
}

.flag-container {
    display: flex;
    justify-content: center;
    size: 100%;
    padding: 2px 6px 6px;
}

img {
    max-width: 60%;
    height: auto;
}

.input-container {
    width: 75%;
    display: flex;
    justify-content: center;
}

input {
    padding: 1rem;
    color: #121213;
    display: flex;
    width: 20rem;
    border-radius: 0.5rem;
}

button {
    border: 200 px;
    color: #121213;
    font-weight: bold;
}

.hints-container {
    padding: 2.5rem;
}

.hints-container input {
    display: inline-block;
    width: auto;
    font-weight: bolder;
    background-color: #9c9c9c;
    text-align: center;
}

.hints-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.label-hide {
    visibility: collapse;
}

.hints-container div {
    padding: 15px;
}

ul {
    list-style-type: none;
}

.filter{
    /*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
    /* filter: invert(0.6) */
    filter: blur()
}